{% extends 'base.html.twig' %}
{%  block title %}
{% endblock %}

{% block body %}

 <div class="has-text-centered-touch resto-title" style="background-image: url({{ resto.image }});">
     <div class="container">
         <h1>{{ resto.libelle }}</h1>
     </div>


 </div>
<div class="container">

    <h2>Menu</h2>


{% for men in menu %}
    <h3>{{ men.libelle }}</h3>
    {% for plat in men.plats %}
    <div class="row">
        <div class="col-8">
        {{ plat.libelle }}
        </div>
        <div class="col-4">
            {{ plat.prixUnitaire }}
        </div>
    </div>
    {% endfor %}
    {% endfor %}



    </div>


{% endblock %}
