{% extends 'base.html.twig' %}
{%  block title %}
{% endblock %}

{% block body %}

 <div class="has-text-centered-touch resto-title" style="background-image: url({{ resto.image }});">
     <div class="container">
         <h1>{{ resto.libelle }}</h1>
     </div>


 </div>
<div class="container">
    <h2>Menu</h2>

   <table>
       <tr>
        {% for mn in resto.menus %}
            {% for cat in mn.categorie  %}
        <td >
            {{ cat.libelleCat }} {{ mn.libelle }}
        </td>
            {% endfor %}
        {% endfor %}
       </tr>
<tr>
       {% for mnpl in resto.menus %}
       {% for pl in mnpl.plats %}
       <td>
           {{ pl.libelle }}
       </td>

{% endfor %} {% endfor %}
</tr>
   </table>
</div>
{% endblock %}
